*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: gray;
	color: white;
	background: rgba(179,220,237,1);
	background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,0.78) 50%, rgba(188,224,238,0.55) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,0.78)), color-stop(100%, rgba(188,224,238,0.55)));
	background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,0.78) 50%, rgba(188,224,238,0.55) 100%);
	background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,0.78) 50%, rgba(188,224,238,0.55) 100%);
	background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,0.78) 50%, rgba(188,224,238,0.55) 100%);
	background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,0.78) 50%, rgba(188,224,238,0.55) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );

}

header{
	width: 40%;
	margin-top: 10px;
	margin-left: 30%;
	padding-top: 10px;
	background-color: blue;
	text-shadow: 2px 2px black;
	box-shadow: inset 0 0 10px black;
	border-radius: 20px 20px 0px 0px;
}
#led{
	position: relative;
    width: 50%;
    height: 300px;
    background-color: #000000;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 20%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.50);
    padding: 2em 4em 4em 4em;
    border: 1px solid white;
}

.bombillo
{
	margin: 0 auto;
	cursor: progress;
	transition: background-color 2s ease-out;
	background: rgba(248,80,50,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 41%, rgba(246,41,12,1) 72%, rgba(240,47,23,1) 89%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(248,80,50,1)), color-stop(41%, rgba(241,111,92,1)), color-stop(72%, rgba(246,41,12,1)), color-stop(89%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 41%, rgba(246,41,12,1) 72%, rgba(240,47,23,1) 89%, rgba(231,56,39,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 41%, rgba(246,41,12,1) 72%, rgba(240,47,23,1) 89%, rgba(231,56,39,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 41%, rgba(246,41,12,1) 72%, rgba(240,47,23,1) 89%, rgba(231,56,39,1) 100%);
	background: radial-gradient(ellipse at center, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 41%, rgba(246,41,12,1) 72%, rgba(240,47,23,1) 89%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}
#cabeza
{
	position: absolute;
	width: 50px;
	height: 80px;
	margin-top: 20px;
	margin-left: 300px;
	border-radius: 40% 40% 0% 0%;
	transition: all 0.5s ease;
}
#base
{
	position: absolute;
	margin: 0 auto;
	width: 60px;
	height: 10px;
	margin-top: 100px;
	margin-left: 295px;
	margin-bottom: 20px;
	background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 26%, rgba(241,111,92,1) 47%, rgba(240,47,23,1) 69%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(26%, rgba(246,41,12,1)), color-stop(47%, rgba(241,111,92,1)), color-stop(69%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 26%, rgba(241,111,92,1) 47%, rgba(240,47,23,1) 69%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 26%, rgba(241,111,92,1) 47%, rgba(240,47,23,1) 69%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 26%, rgba(241,111,92,1) 47%, rgba(240,47,23,1) 69%, rgba(231,56,39,1) 100%);
	background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 26%, rgba(241,111,92,1) 47%, rgba(240,47,23,1) 69%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}

.bombillo:hover
{
	;background: rgba(252,234,187,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,234,187,1) 11%, rgba(252,205,77,1) 56%, rgba(248,181,0,1) 81%, rgba(251,223,147,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,234,187,1)), color-stop(11%, rgba(252,234,187,1)), color-stop(56%, rgba(252,205,77,1)), color-stop(81%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,234,187,1) 11%, rgba(252,205,77,1) 56%, rgba(248,181,0,1) 81%, rgba(251,223,147,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,234,187,1) 11%, rgba(252,205,77,1) 56%, rgba(248,181,0,1) 81%, rgba(251,223,147,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(252,234,187,1) 0%, rgba(252,234,187,1) 11%, rgba(252,205,77,1) 56%, rgba(248,181,0,1) 81%, rgba(251,223,147,1) 100%);
	background: radial-gradient(ellipse at center, rgba(252,234,187,1) 0%, rgba(252,234,187,1) 11%, rgba(252,205,77,1) 56%, rgba(248,181,0,1) 81%, rgba(251,223,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
	box-shadow: 10px 10px 120px 50px rgba(255, 0, 0, 0.47);
}
.patas{
	position: relative;
	width: 5px;
	margin-top: 110px;
	background: -moz-linear-gradient(left,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
	background: -webkit-linear-gradient(left,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: -o-linear-gradient(left,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); 
	background: -ms-linear-gradient(left,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); 
	background: linear-gradient(to right,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); 
}

#pata1{
	position: absolute;
	margin-left: 310px;
	height: 100px;
}
#pata2{
	position: absolute;
	margin-left: 335px;	
	height: 120px;
}
#logo{
	position: relative;
    width: 50%;
    height: 300px;
    background-color: #eeeeff;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 20%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.50);
    padding: 2em 4em 4em 4em;
    border: 1px solid white;
}
.circulo{
	position: absolute;
	border-radius: 50%;
	padding: 10px;
}
#negro{
	background-color: black;
	margin-top: 30px;
	margin-left: 20%;
	width: 250px;
	height: 250px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.47);
}
#verde{
	background-color: #989C71;
	margin-top: 38px;
	margin-left: 21%;
	width: 235px;
	height: 235px;
}
#blanco{
	background-color: #ffffff;
	margin-top: 54px;
	margin-left: 23.5%;
	width: 200px;
	height: 200px;
}
#rojo{
	background-color: rgba(162, 0, 0, 0.85);
	margin-top: 68px;
	margin-left: 25.5%;
	width: 170px;
	height: 170px;
}
.letra{
	position: absolute;
	color: black;
	font-family: impact;
	font-size: 35px;
}
#letra11{
	margin-top: 105px;
	margin-left: 29%;
}
#letra12{
	margin-top: 155px;
	margin-left: 28%;
}
#letra2{
	position: absolute;
	color: black;
	font-family: Calibri Light;
	font-size: 20px;
	margin-top: 215px;
	margin-left: 33.5%;
}
.caja{
	position: absolute;
	width: 50px;
	height: 50px;
}
#red{
	background-color: #FF4324;
	margin-top: 95px;
	margin-left: 25px;
}
#green{
	background-color: #75C71C;
	margin-top: 95px;
	margin-left: 80px;
}
#blue{
	background-color: #10A9EC;
	margin-top: 150px;
	margin-left: 25px;
}
#yellow{
	background-color: #FED21D;
	margin-top: 150px;
	margin-left: 80px;
}
#letram{
	position: absolute;
	color: gray;
	font-family: arial;
	font-size: 60px;
	margin-top: 100px;
	margin-left: 150px;
}